html {
  height: 100vh;
  width: 100%;
  position: relative;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

hr {
  width: 80%;
  margin: auto;
}

p {
  margin-bottom: 0;
}

.link {
  color: var(--color-theme-2);

  &:hover {
    color: var(--color-theme);
    transition: all 0.3s ease-in-out;
  }
}
