.btn-theme {
  background-color: var(--color-theme-2);
  border: none;
  color: white;
  font-family: "Montserrat Semi-Bold", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 50px;
  padding: 20px 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  z-index: 2;

  &:hover,
  &:active {
    background-color: white !important;
    border: solid 1px var(--color-theme-2) !important;
    color: var(--color-theme-2) !important;
  }
}

.btn-border {
  border-radius: 0;
  border-color: var(--color-theme-2);
  position: relative;
  display: inline-block;
  transition: all 0.3s ease-in-out;

  &::before {
    top: -6px;
    left: -6px;
    border-width: 2px 0 0 2px;
    z-index: 5;
  }

  &::after {
       bottom: -6px;
       right: -6px;
       border-width: 0 2px 2px 0;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    border-color: var(--color-theme-2);
    box-sizing: border-box;
    border-style: solid;
    width: 1em;
    height: 1em;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    color: white;
    background-color: var(--color-theme-2);
    border-color: var(--color-theme-2);

    &::before,
    &::after {
      width: calc(100% + 12px);
      height: calc(100% + 12px);
      border-color: var(--color-theme-2);
    }
  }
}

.btn-form {
  background-color: var(--color-theme-2);
  border: none;
  height: 100%;
  border-radius: 0;
  color: white;

  &:hover {
    color: white;
    background-color: var(--color-theme);
    transition: all 0.3s ease-in-out;
  }
}

.scroll-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: var(--black-transparent);
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 2px;
  text-align: center;
  z-index: 100;
  box-sizing: content-box;

  &:hover {
    color: white
  }
}
