#hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .overlay {
    background-color: var(--color-overlay);
    opacity: 1;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
  }
  h1 {
    &.main-title {
      font-family: 'Snowboard', sans-serif;
      text-transform: uppercase;
      color: white;
    }
  }
}

@media (min-width: 768px) {
  #hero {
    background: url(/assets/images/hero.jpg) no-repeat fixed center top;
    background-size: cover;
  }
  h1 {
    &.main-title {
      font-size: 5.5rem;
      margin-right: 15rem;
    }
  }
}

@media (max-width: 768px) {
  #hero {
    background: url(/assets/images/hero-sm.jpg) no-repeat center top;
  }
  h1 {
    &.main-title {
      font-size: 3.5rem;
      margin-right: 0;
      margin-top: 15rem;
    }
  }
}

#tricks {
  background-color: var(--light-grey);
  margin: 0;
  padding-bottom: 7rem !important;

  figure {
    transition: ease 1.2s;
    overflow: hidden;
    margin: 0;
    img {
      height: 15rem;
      transition: ease 1.2s;
      &:hover {
        transform: scale(1.3);
      }
    }
  }
  .card-title {
    margin-bottom: 0;
    font-family: "Montserrat Semi-Bold", sans-serif;
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    a {
      color: var(--color-theme-3);
      &:hover {
        color: var(--color-theme-2);
        transition: all 500ms;
      }
    }
  }
  .card-action {
    &--update {
      color: var(--grey);
      &:hover {
        color: var(--color-theme-2);
        transition: all 500ms;
      }
    }
    &--delete {
      color: var(--grey);
      &:hover {
        color: var(--color-danger);
        transition: all 500ms;
      }
    }
  }
}
